body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #00BFFF;
  border: 1px solid #0000FF;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  border-radius:10px;
}
.square:hover {
  background: #FF0000
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 50px;
}

.winner{
  background-color: #d3d3d3;
}
button{
  height: 30px;
  background: #87CEFA;
  border-radius:20px;
  margin-top: 10px;
  font-size: 20px
}
